/*-------------------------------------------------------------------------*/
/*---------------------------- Global CSS ---------------------------------*/
/*-------------------------------------------------------------------------*/


* {
  font-family: "Comic Ink";
}
.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.backgroundAll {
  background-image: url(https://zupimages.net/up/20/20/zoau.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*-------------------------------------------------------------------------*/
/*------------------------------- Interfaces ------------------------------*/
/*-------------------------------------------------------------------------*/

progress[value] {
  
  -webkit-appearance: none;
   appearance: none;

  width: 25vw;
  height: 3vh;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #ff1800, #f44);

    border-radius: 2px; 
    background-size: 25vw 3vh, 100% 100%, 100% 100%;
    -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;
}

@-webkit-keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}

progress[value]::-webkit-progress-value::before {
  content: '100%';
  position: absolute;
  right: 0;
  top: -125%;
}

progress[value]::-webkit-progress-value::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white;
}

.counterLife {
  display: flex;
  flex-direction: column;
}

.counterLifeIa {
  display: flex;
  flex-direction: column;
}

.heroLife {
  margin-left: 22vh;
  color: white;
}

.villainLife {
  margin-left: 22vh;
  color: white;
}

.stats__container {
  background-color: #000b28;
  margin: 0px;
  border: 2px black solid;
  border-radius: 0px 20px 0 20px;
}

.stats__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: white;
}

.stats__list li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0px 30px;
  padding: 0px;
  color: white;
  font-size: 0.8rem;
}

.imageStats__board {
  width: 45px;
  margin: 10px 0px;
  padding-right: 10px;
}

.stats {
  display: flex;
  justify-content: space-around;
}

/* --------------------------------- */
/* ------------ Ennemi ------------- */
/* --------------------------------- */

.interface__enemy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  border: 0.5rem solid black;

  border-radius: 0 0 10% 10%;
  background-image: url(https://zupimages.net/up/20/20/rvco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow:1px 1px 3px #999;
}

.enemy_img {
  align-self: flex-start;
  border-radius: 50%;
  height: 180px;
  border: 0.5rem solid black;
}

/* --------------------------------- */
/* ------------ Joueur ------------- */
/* --------------------------------- */

.interface__player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  border: 0.5rem solid black;

  background-image: url(https://zupimages.net/up/20/20/gjcc.png);
  box-shadow:1px 1px 3px #999;
  border-radius: 10% 10% 0 0;
} 

.player_img {
  border-radius: 50%;
  height: 180px;
  border: 0.5rem solid black;
  align-self: flex-end;
}

.playerName {
  font-size: 3rem;
  color: white;
  width: 20rem;
}

/*-------------------------------------------------------------------------*/
/*---------------------------- Plateau de Combat --------------------------*/
/*-------------------------------------------------------------------------*/

.interface__gameplay {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22rem;
  background-image: url(https://zupimages.net/up/20/20/ntup.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 66vh;
}

/* --------------------------------- */
/* ------------ Boutons ------------ */
/* --------------------------------- */

.gameButton {
  border: none;
  background: url(https://rocketleague.media.zestyio.com/rl_rp6_button_2462.png) no-repeat ;
  background-size: cover;
  width: 300px;
  height: 40px;
  text-align: center;
  padding-right: 3.25%;
}

.continueButton {
  border: none;
  background: url(https://rocketleague.media.zestyio.com/rl_rp6_button_2462.png) no-repeat ;
  background-size: cover;
  width: 300px;
  height: 40px;
  text-align: center;
  padding-right: 3.25%;
  position: absolute;
  right: 5%;
  bottom: 20%;
}

.finishButton {
  border: none;
  background: url(https://rocketleague.media.zestyio.com/rl_rp6_button_2462.png) no-repeat ;
  background-size: cover;
  width: 300px;
  height: 40px;
  text-align: center;
  padding-right: 3.25%;
  position: absolute;
  right: 5%;
  bottom: 20%;
}

.buttonAttack__container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.attackButton {
  background: linear-gradient(to right top, #8c465c, #f4cb29);
  text-align: center;
  width: 25vh;
  margin: 0px 20px;
  border: solid 5px black;
  border-radius: 0px 40px 0 40px;
}

.attackButton h2 {
  border-bottom: black solid 1px;
  padding-bottom: 20px;
}


/* --------------------------------- */
/* -------------- Dés -------------- */
/* --------------------------------- */

.dice__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.dice {
  height: 100px;
  width: 100px;
  border-radius:12px;
  background: #f5f5f5;
  border:none;
  color:#555;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  box-shadow:1px 1px 3px #999;
  margin: 20px;
}

.dice__plateau {
  display: flex;
  flex-direction: column;
}

/* --------------------------------- */
/* ----------- Autres -------------- */
/* --------------------------------- */

.textslide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text__slideleft {
  position: relative;
  font-size: 14vh;
  margin: 0;
  animation-name: slideLeft;
  animation-duration: 1.5s;
}

@keyframes slideLeft {
  from {
    left: -150vh;
  }
  to {
    left: 0vh;
  }
}

.text__slideright {
  position: relative;
  font-size: 14vh;
  margin: 0;
  animation-name: slideRight;
  animation-duration: 1.5s;
}

@keyframes slideRight {
  from {
    right: -150vh;
  }
  to {
    right: 0vh;
  }
}

.result__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textresult__container {
  width: 20vw;
  justify-content: center;
  align-items: center;
}

.textresult {
  font-size: 3rem;
  margin: 4rem 0px;
  text-align: center;
  color: whitesmoke;
}


