/*--------------------------------------------------------------*/
/*----------------------------Game CSS--------------------------*/
/*--------------------------------------------------------------*/




/*--------------------------------------------------------------*/
/*----------------------------Global CSS------------------------*/
/*--------------------------------------------------------------*/

.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  
}

.interface__gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22rem;
}


/*--------------------------------------------------------------*/
/*----------------------------PlayerBar CSS---------------------*/
/*--------------------------------------------------------------*/

.interface__player {
  display: flex;
  background-color: grey;
  justify-content: space-around;
  align-items: flex-end;
  height: 8rem;
  border-radius: 10% 10% 0 0;
} 

.playerstats__container {

  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 5rem;

}

.playerName {
  font-size: 3rem;
}

.stats__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.profile__container {
  display: flex;
  align-items: baseline;
}

.player-image {
  display: flex;
  border-radius: 50%;
  height: 200px;
}

.ennemi-image {
  display: flex;
  border-radius: 50%;
  height: 200px;
  align-items: flex-end;
}



/*--------------------------------------------------------------*/
/*----------------------------EnnemiBar CSS---------------------*/
/*--------------------------------------------------------------*/



.interface__ennemi {
  display: flex;
  background-color: grey;
  justify-content: space-around;
  height: 8rem;
  border-radius: 0 0 10% 10%;
} 


/*--------------------------------------------------------------*/
/*----------------------------LifeBar CSS-----------------------*/
/*--------------------------------------------------------------*/

.life__container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.life__bar {
  background-color: red;
  border-radius: 50%;
  padding: 20px;
}

/*--------------------------------------------------------------*/
/*----------------------------Dice CSS--------------------------*/
/*--------------------------------------------------------------*/

.dice {
  height: 100px;
  width: 100px;
  border-radius:12px;
background: #f5f5f5;
border:none;
color:#555;
font:bold 12px Verdana;
padding:6px 0 6px 0;
  box-shadow:1px 1px 3px #999;
}

.dice__plateau {
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------------*/
/*----------------------------Button CSS------------------------*/
/*--------------------------------------------------------------*/

.weaponButton {
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:90px;
  height:90px;
  margin: 10px
}

.styled {
  border-radius:12px 0 12px 0;
  background: #f5f5f5;
  border:none;
  color:#555;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  box-shadow:1px 1px 3px #999;
  width: 100px;
  margin: 20px;
}

