body {
    width: 300px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: black; */
    color: whitesmoke;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    border : solid 10px black;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
  }

  ._infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
  }

  ._skillName, ._skillType {
      background-color: lightgrey;
      align-self: stretch;
      color: black;
      text-align: left;
      margin-bottom: 5px;
  }

  ._skillDescription {
      background-color: whitesmoke;
      color: black;
      width: 100%;
      height: 125px;
      align-self: flex-start;

  }

  img {
      width: 230px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  