.rulescontainer {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.rulesintro {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.titleInstruction {
    color: white;
    font-size: 3rem;
    text-align: center;
    border-style: double;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Righteous', cursive;
}

.rulesintracontainer {
    color: white;
    font-size: 1.2rem;
    text-align: left;
}

.subtitlerules {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    font-family: 'Righteous', cursive;
}

.outro {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}

.imgPlateau {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.instrucPart1 {
    display: flex;
    flex-direction: row ;
}

.ParInstruc{
    border-style: dashed;
    border-color: rgba(255, 255, 255, 0.219);
    padding: 3%;
    margin-bottom: 1%;
}

.buttonPlayInstruc {
    display: flex;
    align-items: center;
}

.parDee{
    margin-top: 4%;
    text-align: center;
    margin-right: 1%;
}

.parAttak{
    margin-top: 2%;
    text-align: center;
    margin-left: 1%;
}