.rulescontainer {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.rulesintro {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.titleInstruction {
    color: white;
    font-size: 3rem;
    text-align: center;
    border-style: double;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

.rulesintracontainer {
    color: white;
    font-size: 1.2rem;
    text-align: left;
}

.subtitlerules {
    color: grey;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.outro {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}